.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
}
nav{
  @apply bg-red-800;
}
.navigator{
  @apply w-[6.5%] mr-[20px] opacity-80 flex justify-between;
}
.navigator-icon{
  @apply bg-black opacity-90 rounded-full cursor-pointer flex justify-center items-center  box-border;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button {
  margin-left: 10px;
}
