.storybook-button {
  @apply font-bold border-none cursor-pointer  leading-none
  font-button rounded-[3em] text-white bg-stone-900 opacity-90;
}

.storybook-button--primary {
  @apply inline-flex justify-center items-center p-[1.5px] gap-x-2 pr-2.5 !important;
}
.storybook-button--secondary {
  @apply bg-transparent text-secondary shadow-[rgba(0,0,0,0.15)_0px_0px_0px_1px_inset];
}
.storybook-button--small {
  @apply text-xs h-10 py-1.5 px-4;
}
.storybook-button--medium {
  @apply text-sm py-3 px-5
}
.storybook-button--large {
  @apply py-3.5 px-6;
}
.avatar{
  @apply rounded-full h-9;
}
nav{
  @apply bg-red-800;
}
.navigator{
  @apply w-[7.5%] opacity-80 flex justify-between;
}
.navigator-icon{
  @apply bg-black opacity-90 text-center rounded-full cursor-pointer table box-border;
}

.icon{
  @apply text-white table-cell align-middle m-[2.8px];
}
.button-cont{
  @apply flex;
}
.dropdown{
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: #282c34;
  border: blue;
  border-radius: 8px;
  padding: 1rem;
}
.menu-item{
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background .3s;
  padding: 0.5rem;
}
.menu-item:hover{
  background-color: #1ea7fd;
}