
.icon{
    @apply text-white m-[2.8px];
}

.dropdown{
    position: absolute;
    top: 70px;
    width: 200px;
    transform: translateX(-18%);
    background-color: #282c34;
    border-radius: 7px;
    padding: 8px;
}
.menu-item{
    height: 25px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    transition: background .3s;
    padding: 8px;
}
.menu-item:hover{
    background-color: #2e3740;
}